a{
	cursor: url("https://etrex.tw/a/flippers3.gif"),auto !important;
}
button{
	cursor: url("https://etrex.tw/a/flippers3.gif"),auto !important;
}
.longFinger{
	cursor: url("https://etrex.tw/a/flippers3.gif"),auto !important;
}