a{
	cursor: url("http://etrex.tw/a/flippers3.gif"),auto !important;
}
button{
	cursor: url("http://etrex.tw/a/flippers3.gif"),auto !important;
}
.longFinger{
	cursor: url("http://etrex.tw/a/flippers3.gif"),auto !important;	
}